<div id="buttonbar">
    <style>
    #blog
    {
    	background: transparent url(${baseurl}/images/buttonbar/blog-small.png) -2px -2px no-repeat;
    	opacity: 1.0 !important;
    }

    #apad
    {
    	background: transparent url(${baseurl}/images/buttonbar/apad-small.png) -2px -2px no-repeat;
    }

    #dump
    {
    	background: transparent url(${baseurl}/images/buttonbar/dump-small.png) -2px -2px no-repeat;
    }

    #archives
    {
    	background: transparent url(${baseurl}/images/buttonbar/archives-small.png) -2px -2px no-repeat;
    }

    #profiles
    {
    	background: transparent url(${baseurl}/images/buttonbar/profiles-small.png) -2px -2px no-repeat;
    }

    #about
    {
    	background: transparent url(${baseurl}/images/buttonbar/about-small.png) -2px -2px no-repeat;
    }

    #stuff
    {
    	background: transparent url(${baseurl}/images/buttonbar/stuff-small.png) -2px -2px no-repeat;
    }

    #planet
    {
    	background: transparent url(${baseurl}/images/buttonbar/planet-small.png) -2px -2px no-repeat;
    }
    </style>

    <table width="100%">
        <tr align="center">
            <td></td>
            <td class="button"><a href="/blog"><div id="blog" title="My blog, full of code, pictures, and random thoughts!" class="button"></div></a></td>
            <td class="button"><a href="/stuff"><div id="stuff" title="All of Jayne's various services for your perusal." class="button"></div></a></td>
            <td class="button"><a href="http://jayne.hortont.com/planet"><div id="planet" title="An aggregation of the blogs of everyone who has a blog and matters!" class="button"></div></a></td>
            <td class="button"><a href="http://jayne.hortont.com/aperture"><div id="archives" title="An interactive browser for a library of over 10,000 photographs." class="button"></div></a></td>
            <td class="button"><a href="/profiles.html"><div id="profiles" title="Links to my various homes across the internet." class="button"></div></a></td>
            <td class="button"><a href="/about.html"><div id="about" title="Why? Who? What?" class="button"></div></a></td>
            <td></td>
        </tr>
    </table>
</div>