<div>
<div id="buttonbar">
    <table class="buttontable" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr align="center">
            <td></td>
            <td class="button"><a href="${blogurl}"><div id="blog" title="My blog." class="button"></div></a></td>
            <td class="button"><a href="${baseurl}clutterhs"><div id="clutterhs" title="Clutter bindings for Haskell!" class="button"></div></a></td>
            <td class="button"><a href="${baseurl}about.html"><div id="about" title="A bit about me." class="button"></div></a></td>
            <td></td>
        </tr>
    </table>
</div>
<div style="height: 130px;"></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr align="center">
        <td><a href="http://www.cornify.com" onclick="cornify_add();return false;"><img src="http://www.cornify.com/assets/cornify.gif" width="61" height="16" border="0" alt="Cornify" /></a><script type="text/javascript" src="http://www.cornify.com/js/cornify.js"></script></td>
    </tr>
</table>
<div style="height: 10px;"></div>
</div>