<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="${baseurl}styles/highlight.css" type="text/css" />
    <link rel="stylesheet" href="${baseurl}styles/style.css" type="text/css" />
    <title>${Markup(post.title)}</title>
  </head>
  <body class="index">
    <xi:include href="button-bar.html" />
    <table id="posts" border="0" width="100%">
        <tr align="center">
            <td></td>
            <td class="post"><div class="postContent">
                ${Markup(post.content)}
            </div></td>
            <td></td>
        </tr>
    </table>
  </body>
</html>


