body
{
	background-color: #fff;
	font-family: 'Myriad Pro', 'Calibri', 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

a
{
	color: #38e;
	text-decoration: none;
}

a:hover
{
	color: #27d;
	text-decoration: underline;
}

h1
{
	color: #333;
	font-weight: normal;
	font-size: 1.7em;
	margin: 0px;
}

h1>a
{
	color: #333;
}

h2
{
	color: #888;
	font-weight: normal;
	font-size: 0.9em;
	margin: 0px;
}

li
{
	padding-bottom: 0.6em;
}

div.postActions
{
	text-align: right;
}

div.attachments
{
	display: none;
}

#posts
{
	width: 100%;
}

div.postContent
{
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #444;
	font-size: 0.8em;
	background-color: #fff;
	width: 600px;
	padding: 20px 20px 5px 20px;
	margin: 0px 0px 20px 0px;
	line-height: 1.5em;
	text-align: justify;
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

#buttonbar
{
    padding: 15px 0px 5px 0px;
}

div.button
{
	width: 100px;
	height: 50px;
	cursor: pointer;
	opacity: 0.8;
	float: none !important;
	display: inline-block;
}

div.button:hover
{
	opacity: 1.0;
}

td.button
{
    width: 100px;
}

a.nav
{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2em;
    text-shadow: #000 0px 0px 8px;
}

div.navwrapperl
{
    position: fixed;
    left: 8px;
    bottom: 5px;
}

div.navwrapperr
{
    position: fixed;
    right: 8px;
    bottom: 5px;
}

p.commentLink
{
    text-align: right;
    font-weight: bold;
}

div.hr
{
    background-color: #b2b2b2;
    width: 100%;
    height: 1px;
}

pre
{
    display: inline;
}