body
{
    background-color: #ded;
    font-family: 'Myriad Pro', 'Calibri', 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

a
{
    color: #898;
    text-decoration: none;
}

a:hover
{
    color: #aba;
    text-decoration: underline;
}

img
{
    border: 0px;
}

h1
{
    color: #333;
    font-weight: normal;
    font-size: 1.7em;
    margin: 0px;
}

h1>a
{
    color: #333;
}

h2
{
    color: #888;
    font-weight: normal;
    font-size: 0.9em;
    margin: 0px;
    position: relative;
    top: -1.7em;
    float: right;
}

li
{
    padding-bottom: 0.6em;
}

#posts
{
    width: 100%;
}

div.postContent
{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    color: #444;
    font-size: 0.8em;
    background-color: #fff;
    width: 600px;
    padding: 20px 20px 5px 20px;
    margin: 0px 0px 20px 0px;
    line-height: 1.5em;
    text-align: justify;
    border: 5px solid #aba;
}

#buttonbar
{
    position: absolute;
    top: 0px;
    left: 5%;
    right: 5%;
    border-left: 10px solid #aba;
    border-right: 10px solid #aba;
    border-bottom: 10px solid #aba;
}

table.buttontable
{
    padding: 0px;
    padding-top: 15px !important;
    background-color: #545454;
}

div.button
{
    /*width: 300px;*/
    height: 90px;
    cursor: pointer;
    opacity: 0.6;
    float: none !important;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

div.button:hover
{
    opacity: 0.8;
}

td.button
{
    /*width: 100px;*/
}

#blog
{
    background: transparent url(${staticurl}images/buttonbar/blog.png) -2px -2px no-repeat !important;
    width: 161px;
}
#clutterhs
{
    background: transparent url(${staticurl}images/buttonbar/clutterhs.png) -2px -2px no-repeat !important;
    width: 309px;
}
#about
{
    background: transparent url(${staticurl}images/buttonbar/about.png) -2px -2px no-repeat !important;
    width: 213px;
}
